<div class="row">
    <div class="col-12 bg-secondary text-black text-center p-2">
        <hr class="border-t-2 border-gray-400 mb-2">
        <p>Copyright &copy; 2034 by Abdul Manan. All Rights Reserved.</p>
    </div>
</div>